<?xml version='1.0' encoding='utf-8'?>
<widget id="ir.username.chessgame" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Chess</name>
    <description>Chess game</description>
    <author email="you@example.com">Maryam</author>
    <content src="index.html" />
    <allow-intent href="*" />
    <preference name="Orientation" value="portrait" />
</widget>
